<ul>
  <%= flash[:notice] %> 
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%=bookmark.id%>"> 
      <a href=<%= bookmark.url %>> <%= bookmark.title %> </a> 
      <form action="/bookmarks/<%= bookmark.id%>" method="post">
        <input type="submit" name='_method' value="Delete"/>
      </form>
      <form action="/bookmarks/<%=bookmark.id%>/update" method="get">
        <input type="submit" value="Edit"/>
      </form>
    </li>
  <% end %>
</ul>
